/* Yleinen */

html {
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 80px;
    background-color: cyan;
    width: 100%;
    border-bottom: 3px solid yellow;
    
}

.ylapalkki {
    text-align: left;
}

/* Navigation */
.navigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: wheat;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    padding: 0;
}
/* Icons */
/* Main & Body */
/* Footer */
/* Mobile-specifications */